# Regression Exercises I
Let's review the steps we take at the beginning of each new module.

1. Create a new repository named ```regression-exercises``` in your ```GitHub```; all of your Regression work will be housed here.
2. Clone this repository within your local ```codeup-data-science``` directory.
3. Create a ```.gitignore``` and make sure your list of 'files to ignore' includes your ```env.py``` file.
4. Ceate a ```README.md``` file that outlines the contents and purpose of your repository.
5. ```Add```, ```commit```, and ```push``` these two files.
6. Now you can add your ```env.py``` file to this repository to access the ```Codeup database server```.
7. For these exercises, you will create ```wrangle.ipynb``` and ```wrangle.py``` files to hold necessary functions.
8. As always, ```add```, ```commit```, and ```push``` your work often.

# Regression Exercises II
Let's set up an example scenario as perspective for our regression exercises using the ```Zillow dataset```.

As a Codeup data science graduate, you want to show off your skills to the Zillow data science team in hopes of getting an interview for a position you saw pop up on [LinkedIn](www.LinkedIn.com). You thought it might look impressive to build an end-to-end project in which you use some of their Kaggle data to predict property values using some of their available features; who knows, you might even do some feature engineering to blow them away. 

##### Your goal is to predict the values of single unit properties using the obervations from 2017.

In these exercises, you will complete the first step toward the above goal: ```acquire``` and ```prepare``` the necessary ```Zillow data``` from the ```zillow database``` in the ```Codeup database server```.

In [1]:
import numpy as np
import pandas as pd

import QMCBT_wrangle as w
import QMCBT_explore_evaluate as ee
from env import user, password, host

# 1. ```Acquire``` 
* bedroomcnt 
* bathroomcnt 
* calculatedfinishedsquarefeet
* taxvaluedollarcnt 
* yearbuilt 
* taxamount  
* fips 


from the ```zillow database``` for all '```Single Family Residential```' properties.

In [2]:
db = 'zillow'
connection = f'mysql+pymysql://{user}:{password}@{host}/{db}'
query = """SELECT propertylandusetypeid, propertylandusedesc, bedroomcnt, bathroomcnt, 
calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips 
FROM properties_2017 
LEFT JOIN propertylandusetype 
USING (propertylandusetypeid) 
WHERE propertylandusetypeid = 261"""

In [3]:
df = pd.read_sql(query, connection)

# 2. Using your acquired Zillow data, walk through the summarization and cleaning steps in your ```wrangle.ipynb``` file like we did above. You may handle the missing values however you feel is appropriate and meaningful; remember to document your process and decisions using markdown and code commenting where helpful.

<div class="alert alert-info">

## Preparation
* ### Check is blank
    * #### Remove Whitespace
    * ```df = df.replace(r'^\s*$', np.NaN, regex=True)```


* ### Check is Null
    * #### Remove NULL/NaN
    * ```df = df.dropna()```
    
* ### Check dtype
    * #### Convert dtypes
    * ```df = df.convert_dtypes(infer_objects=False)```

* ### Remove Outliers
    * #### remove homes with no bedrooms or bathrooms
    * ```df = df[df.bedroomcnt > 0]```
    * ```df = df[df.bathroomcnt > 0]```

    * #### remove homes with more than 8 bedrooms or bathrooms
    * ```df = df[df.bedroomcnt <= 8]```
    * ```df = df[df.bathroomcnt <= 8]```

    * #### remove homes with tax value of less than 50k or more than 2mil
    * ```df = df[df.taxvaluedollarcnt > 50_000]```
    * ```df = df[df.taxvaluedollarcnt < 2_000_000]```

    * #### remove sqft less than 400 or more than 10,000```
    * ```df = df[df.calculatedfinishedsquarefeet < 10_000]```
    * ```df = df[df.calculatedfinishedsquarefeet > 400]```
    
    * #### remove tax percent of less than 1% and more than 100%
    * ```df = df[df.taxpercent > .0099]```
    * ```df = df[df.taxpercent < 1]```


* ### Feature Engineer
    * #### Create a feature to replace yearbuilt that shows the age of the home in 2017 when data was collected
    * ```df['age'] = 2017 - df.yearbuilt```

    * #### Create a feature to show tax percentage of value
    * ```df['taxpercent'] = round((df.taxamount / df.taxvaluedollarcnt), 4)```

    * #### Create a feature to show Bathroom to Bedroom ratio
    * ``` CODE ```


* ### Maintain Columns
    * #### Drop Columns
    * ```df = df.drop(columns=['propertylandusetypeid', 'propertylandusedesc'])```
    * #### Organize Columns
    * ``` CODE ```
    * #### Rename Columns
    * ``` CODE ```
    

</div>

In [4]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,2152853,2152854,2152855,2152856,2152857,2152858,2152859,2152860,2152861,2152862
propertylandusetypeid,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,...,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
bedroomcnt,0.0,0.0,0.0,0.0,4.0,0.0,3.0,3.0,0.0,0.0,...,4.0,0.0,3.0,4.0,0.0,4.0,4.0,0.0,3.0,4.0
bathroomcnt,0.0,0.0,0.0,0.0,2.0,0.0,4.0,2.0,0.0,0.0,...,2.0,0.0,2.5,4.0,0.0,3.0,4.5,0.0,2.5,4.0
calculatedfinishedsquarefeet,NaN,NaN,NaN,NaN,3633.0,NaN,1620.0,2077.0,NaN,NaN,...,1987.0,NaN,1809.0,4375.0,NaN,2262.0,3127.0,NaN,1974.0,2110.0
taxvaluedollarcnt,27516.0,10.0,10.0,2108.0,296425.0,124.0,847770.0,646760.0,6730242.0,15532.0,...,259913.0,1198476.0,405547.0,422400.0,1087111.0,960756.0,536061.0,208057.0,424353.0,554009.0
yearbuilt,NaN,NaN,NaN,NaN,2005.0,NaN,2011.0,1926.0,NaN,NaN,...,1955.0,NaN,2012.0,2015.0,NaN,2015.0,2014.0,NaN,2015.0,2014.0
taxamount,NaN,NaN,NaN,174.21,6941.39,NaN,10244.94,7924.68,80348.13,248.89,...,3175.66,NaN,4181.1,13877.56,19313.08,13494.52,6244.16,5783.88,5302.7,6761.2
fips,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,...,6059.0,6037.0,6059.0,6037.0,6059.0,6059.0,6059.0,6059.0,6059.0,6037.0

In [5]:
df.shape

(2152863, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 9 columns):
 #   Column                        Dtype
---  ------                        -----
 0   propertylandusetypeid         float64
 1   propertylandusedesc           object
 2   bedroomcnt                    float64
 3   bathroomcnt                   float64
 4   calculatedfinishedsquarefeet  float64
 5   taxvaluedollarcnt             float64
 6   yearbuilt                     float64
 7   taxamount                     float64
 8   fips                          float64
dtypes: float64(8), object(1)
memory usage: 147.8+ MB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
propertylandusetypeid,2152863.0,261.000000,0.000000,261.00,261.00,261.00,261.00,261.00
bedroomcnt,2152852.0,3.287196,0.954754,0.00,3.00,3.00,4.00,25.00
bathroomcnt,2152852.0,2.230688,0.999280,0.00,2.00,2.00,3.00,32.00
calculatedfinishedsquarefeet,2144379.0,1862.855178,1222.125124,1.00,1257.00,1623.00,2208.00,952576.00
taxvaluedollarcnt,2152370.0,461896.237963,699676.049600,1.00,188170.25,327671.00,534527.00,98428909.00
yearbuilt,2143526.0,1960.949681,22.162196,1801.00,1949.00,1958.00,1976.00,2016.00
taxamount,2148421.0,5634.865978,8178.910249,1.85,2534.98,4108.95,6414.32,1337755.86
fips,2152863.0,6048.377335,20.433292,6037.00,6037.00,6037.00,6059.00,6111.00

## Check isblank

In [8]:
# Return (row count)
row_count = df.shape[0]
row_count

2152863

In [9]:
# creates list of columns
column_list = df.columns
column_list

Index(['propertylandusetypeid', 'propertylandusedesc', 'bedroomcnt',
       'bathroomcnt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt',
       'yearbuilt', 'taxamount', 'fips'],
      dtype='object')

In [10]:
# returns count of all rows from each column that has values
# essentially skipping count on any row that has a column with whitespace
row_value_count = df[column_list].value_counts().sum()
row_value_count

2140235

In [11]:
# subtract value count from row count to get count of rows with whitespace
whitespace_count = row_count - row_value_count
whitespace_count

12628

In [12]:
# Clean whitespace using R trick shared by Codeup Instructor Madeleine Capper

# teensy tiny regex mini lesson for very smols
# ^ : "starts with"
# \s : "any type of whitespace"
# * : " zero or more times"
# $ : "ends with"

# '^\s*$' : something that starts with any whitespace
          # character for zero or more times until the end

# let's change the whitespace into a null value,
# since thats effectively what it is
# Note: regex is not the only option/way to do this
# but its an awfully convenient one that I want y'all to see

# wrapping it in df = without specifying a specific column will 
    # remove ALL whitespace and update the df
    
df = df.replace(r'^\s*$', np.NaN, regex=True)

## Check isnull
* Create Function to automate this to one level of NaN check or figure out how to loop it
    * found single line of code in wrangle file created by Codeup instructor Adam King
    * ```df.dropna().shape[0] / df.shape[0]```
    * turned this into a function ```w.null_stats(df)```
* The next 29 lines of code show my journey to accomplish what that single line of code does

In [13]:
df.isnull().sum()

propertylandusetypeid              0
propertylandusedesc                0
bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [14]:
# assuming that even if all NaNs lived in separate rows
# if we divide the number of NaNs by the number of rows
# we will get the overall percentage of NaN rows for potential deletion
NaN_count = (11+11+8484+493+9337+4442)
NaN_count, NaN_count/row_count

(22778, 0.01058032954256727)

In [15]:
# let's take our largest NaN count column and filter by NaN
isnull_df = df[df.yearbuilt.isnull()==True]

In [16]:
# check our work
isnull_df.T

,0,1,2,3,5,8,9,10,12,13,...,2152540,2152644,2152672,2152767,2152771,2152823,2152844,2152854,2152857,2152860
propertylandusetypeid,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,...,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0,261.0
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
bedroomcnt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
bathroomcnt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
calculatedfinishedsquarefeet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
taxvaluedollarcnt,27516.0,10.0,10.0,2108.0,124.0,6730242.0,15532.0,11009.0,2171.0,378.0,...,177192.0,5126781.0,98234.0,49892.0,540464.0,2568893.0,92679.0,1198476.0,1087111.0,208057.0
yearbuilt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
taxamount,NaN,NaN,NaN,174.21,NaN,80348.13,248.89,NaN,NaN,NaN,...,1917.4,80251.5,1597.27,566.92,5709.26,27309.3,1090.16,NaN,19313.08,5783.88
fips,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,6037.0,...,6059.0,6059.0,6037.0,6111.0,6111.0,6059.0,6111.0,6037.0,6059.0,6059.0

In [17]:
# now let's sum NaNs of all columns within just that filter
isnull_df.isnull().sum()

propertylandusetypeid              0
propertylandusedesc                0
bedroomcnt                         4
bathroomcnt                        4
calculatedfinishedsquarefeet    7877
taxvaluedollarcnt                375
yearbuilt                       9337
taxamount                       1734
fips                               0
dtype: int64

In [18]:
isnull_df.isnull().sum().max()

9337

In [19]:
# Returns (isnull row count)
# This will show us how many records would be deleted
isnull_row_count = isnull_df.shape[0]
isnull_row_count

9337

In [20]:
# now we can easily compare our first NaN_count against our filtered_NaN_count
# this show us that there are only 3,447 NaNs that do not coexist within the largest NaN column
filtered_NaN_count = (4+4+7877+375+9337+1734)
filtered_NaN_count, NaN_count - filtered_NaN_count

(19331, 3447)

In [21]:
# 9337 + (22778 - 19331)
# This equals the potential row count of NaNs to be deleted
NaN_delete_row_count = isnull_row_count + (NaN_count - filtered_NaN_count)
NaN_delete_row_count

12784

In [22]:
# assuming that even if all additional NaNs lived in separate rows
# we can now more accurately see the percentage of filtered NaNs
    # plus additional NaNs against the overall database
NaN_delete_row_count / row_count

0.005938139119860391

<div class="alert alert-info">
    
As you can see deleting <b>less than*</b> 12,784 records or rows will result in a less than 1% data loss.  
    
<b>less than*</b> - because we assume all additional NaNs (3,447) are individual rows when in reality many probably share the same rows.
    
### Therefore, it is reasonably safe to remove all NaN records from the DataFrame.</div>

In [24]:
# Check the percentage of dropping NaN
df.dropna().shape[0], df.shape[0], 1 - (df.dropna().shape[0] / df.shape[0])

(2140235, 2152863, 0.0058656774722776195)

In [25]:
w.null_stats(df)

COUNT OF NULL/NaN PER COLUMN:
propertylandusetypeid              0
propertylandusedesc                0
bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

     DataFrame Row Count: 2152863
      NULL/NaN Row Count: 2140235
  DataFrame Percent kept: 0.9941
NULL/NaN Percent dropped: 0.0059

In [26]:
# Now, let's remove all of the NaN's 
    # since we know they are insignificant in size and percentage
df = df.dropna()

In [27]:
# Check our work
df.isnull().sum()

propertylandusetypeid           0
propertylandusedesc             0
bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64

## Clean dtypes

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140235 entries, 4 to 2152862
Data columns (total 9 columns):
 #   Column                        Dtype
---  ------                        -----
 0   propertylandusetypeid         float64
 1   propertylandusedesc           object
 2   bedroomcnt                    float64
 3   bathroomcnt                   float64
 4   calculatedfinishedsquarefeet  float64
 5   taxvaluedollarcnt             float64
 6   yearbuilt                     float64
 7   taxamount                     float64
 8   fips                          float64
dtypes: float64(8), object(1)
memory usage: 163.3+ MB

In [31]:
# Function will show best dtype based on values (ignore objects)
# be sure to double check that the computer got this right before converting
df.convert_dtypes(infer_objects=False).dtypes

propertylandusetypeid             Int64
propertylandusedesc              string
bedroomcnt                        Int64
bathroomcnt                     Float64
calculatedfinishedsquarefeet      Int64
taxvaluedollarcnt                 Int64
yearbuilt                         Int64
taxamount                       Float64
fips                              Int64
dtype: object

In [32]:
# no changes were made by convert_dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140235 entries, 4 to 2152862
Data columns (total 9 columns):
 #   Column                        Dtype
---  ------                        -----
 0   propertylandusetypeid         float64
 1   propertylandusedesc           object
 2   bedroomcnt                    float64
 3   bathroomcnt                   float64
 4   calculatedfinishedsquarefeet  float64
 5   taxvaluedollarcnt             float64
 6   yearbuilt                     float64
 7   taxamount                     float64
 8   fips                          float64
dtypes: float64(8), object(1)
memory usage: 227.8+ MB

In [33]:
# make actual conversion
df = df.convert_dtypes(infer_objects=False)

In [34]:
# Check work
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140235 entries, 4 to 2152862
Data columns (total 9 columns):
 #   Column                        Dtype
---  ------                        -----
 0   propertylandusetypeid         Int64
 1   propertylandusedesc           string
 2   bedroomcnt                    Int64
 3   bathroomcnt                   Float64
 4   calculatedfinishedsquarefeet  Int64
 5   taxvaluedollarcnt             Int64
 6   yearbuilt                     Int64
 7   taxamount                     Float64
 8   fips                          Int64
dtypes: Float64(2), Int64(6), string(1)
memory usage: 244.1 MB

In [35]:
# Check work
df.T

,4,6,7,11,14,15,18,19,20,21,...,2152850,2152851,2152852,2152853,2152855,2152856,2152858,2152859,2152861,2152862
propertylandusetypeid,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
bedroomcnt,4,3,3,0,0,0,3,3,3,4,...,3,3,3,4,3,4,4,4,3,4
bathroomcnt,2.0,4.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,4.0,...,2.5,3.5,2.0,2.0,2.5,4.0,3.0,4.5,2.5,4.0
calculatedfinishedsquarefeet,3633,1620,2077,1200,171,203,1244,1300,1222,4144,...,2033,1980,1917,1987,1809,4375,2262,3127,1974,2110
taxvaluedollarcnt,296425,847770,646760,5328,6920,14166,169471,233266,290492,1303522,...,641757,773358,408680,259913,405547,422400,960756,536061,424353,554009
yearbuilt,2005,2011,1926,1972,1973,1960,1950,1950,1951,2016,...,2015,2014,1946,1955,2012,2015,2015,2014,2015,2014
taxamount,6941.39,10244.94,7924.68,91.6,255.17,163.79,2532.88,3110.99,3870.25,14820.1,...,10009.46,8347.9,4341.32,3175.66,4181.1,13877.56,13494.52,6244.16,5302.7,6761.2
fips,6037,6037,6037,6037,6037,6037,6037,6037,6037,6037,...,6059,6059,6111,6059,6059,6037,6059,6059,6059,6037

### Remove Outliers

In [36]:
# Is this even possible? Are these errors?
# Do we need to drop rows < 300? 600? 
df.loc[df['calculatedfinishedsquarefeet'] == 1].T

,58438,1046787,1276353,1359288,1895866,2017745
propertylandusetypeid,261,261,261,261,261,261
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
bedroomcnt,2,0,1,2,5,3
bathroomcnt,1.0,0.0,3.0,1.0,5.0,1.0
calculatedfinishedsquarefeet,1,1,1,1,1,1
taxvaluedollarcnt,121376,28091,124906,147577,563977,31800
yearbuilt,1907,1963,1953,1991,1997,1900
taxamount,1996.35,439.55,2020.66,1855.4,6808.84,870.36
fips,6037,6037,6037,6037,6037,6037

In [51]:
# why do these homes have no bedrooms or bathrooms?
df.loc[df['bedroomcnt'] == 0].T

,11,14,15,866,2306,2313,2676,3530,3740,3922,...,2142189,2143642,2144494,2144648,2146189,2146660,2149054,2152505,2152704,2152710
propertylandusetypeid,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
bedroomcnt,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
bathroomcnt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
calculatedfinishedsquarefeet,1200,171,203,220,1776,352,1057,1281,800,2172,...,462,162,140,936,330,676,938,240,1490,2140
taxvaluedollarcnt,5328,6920,14166,13840,79574,25464,344835,187179,22469,946975,...,26004,20887,34789,33811,16311,234580,56733,31234,152000,338004
yearbuilt,1972,1973,1960,1988,1989,1948,1942,1920,1951,1917,...,1980,1992,1970,1961,1925,1922,1978,1942,1930,1928
taxamount,91.6,255.17,163.79,327.8,1137.9,415.92,4528.51,2412.05,273.95,11458.28,...,643.55,238.2,497.85,536.25,297.36,3013.57,986.86,414.04,3614.4,4406.28
fips,6037,6037,6037,6037,6037,6037,6037,6037,6037,6037,...,6037,6037,6037,6037,6037,6037,6037,6037,6037,6037

In [52]:
df.loc[df['bathroomcnt'] == 0].T

,11,14,15,398,753,866,1546,2306,2313,2676,...,2142486,2142565,2143642,2144494,2144648,2146189,2146660,2149054,2151453,2152505
propertylandusetypeid,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
bedroomcnt,0,0,0,3,3,0,1,0,0,0,...,5,3,0,0,0,0,0,0,2,0
bathroomcnt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
calculatedfinishedsquarefeet,1200,171,203,2239,2421,220,400,1776,352,1057,...,3322,2044,162,140,936,330,676,938,1108,240
taxvaluedollarcnt,5328,6920,14166,396608,1111120,13840,47682,79574,25464,344835,...,793673,337882,20887,34789,33811,16311,234580,56733,937075,31234
yearbuilt,1972,1973,1960,1988,1976,1988,1913,1989,1948,1942,...,1988,1989,1992,1970,1961,1925,1922,1978,1932,1942
taxamount,91.6,255.17,163.79,4404.22,12394.16,327.8,764.58,1137.9,415.92,4528.51,...,8455.52,3745.28,238.2,497.85,536.25,297.36,3013.57,986.86,10851.5,414.04
fips,6037,6037,6037,6111,6111,6037,6037,6037,6037,6037,...,6111,6111,6037,6037,6037,6037,6037,6037,6059,6037

In [72]:
# filter down outliers to more accurately align with realistic expectations of a Single Family Residence

# Set no_outliers equal to df
no_outliers = df

# Keep all homes that have > 0 and <= 8 Beds and Baths
no_outliers = no_outliers[no_outliers.bedroomcnt > 0]
no_outliers = no_outliers[no_outliers.bathroomcnt > 0]
no_outliers = no_outliers[no_outliers.bedroomcnt <= 8]
no_outliers = no_outliers[no_outliers.bathroomcnt <= 8]

# Keep all homes that have tax value > 30 thousand and <= 2 million
no_outliers = no_outliers[no_outliers.taxvaluedollarcnt >= 50_000]
no_outliers = no_outliers[no_outliers.taxvaluedollarcnt <= 2_000_000]

# Keep all homes that have sqft > 4 hundred and < 10 thousand
no_outliers = no_outliers[no_outliers.calculatedfinishedsquarefeet > 400]
no_outliers = no_outliers[no_outliers.calculatedfinishedsquarefeet < 10_000]

no_outliers.T

,4,6,7,18,19,20,21,23,24,25,...,2152850,2152851,2152852,2152853,2152855,2152856,2152858,2152859,2152861,2152862
propertylandusetypeid,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
bedroomcnt,4,3,3,3,3,3,4,3,4,3,...,3,3,3,4,3,4,4,4,3,4
bathroomcnt,2.0,4.0,2.0,1.0,2.0,2.0,4.0,2.5,3.5,2.5,...,2.5,3.5,2.0,2.0,2.5,4.0,3.0,4.5,2.5,4.0
calculatedfinishedsquarefeet,3633,1620,2077,1244,1300,1222,4144,1821,2684,2284,...,2033,1980,1917,1987,1809,4375,2262,3127,1974,2110
taxvaluedollarcnt,296425,847770,646760,169471,233266,290492,1303522,537949,644990,934353,...,641757,773358,408680,259913,405547,422400,960756,536061,424353,554009
yearbuilt,2005,2011,1926,1950,1950,1951,2016,2013,2014,2014,...,2015,2014,1946,1955,2012,2015,2015,2014,2015,2014
taxamount,6941.39,10244.94,7924.68,2532.88,3110.99,3870.25,14820.1,6173.72,7572.58,13273.94,...,10009.46,8347.9,4341.32,3175.66,4181.1,13877.56,13494.52,6244.16,5302.7,6761.2
fips,6037,6037,6037,6037,6037,6037,6037,6059,6059,6059,...,6059,6059,6111,6059,6059,6037,6059,6059,6059,6037
age,12,6,91,67,67,66,1,4,3,3,...,2,3,71,62,5,2,2,3,2,3
taxpercent,0.0234,0.0121,0.0123,0.0149,0.0133,0.0133,0.0114,0.0115,0.0117,0.0142,...,0.0156,0.0108,0.0106,0.0122,0.0103,0.0329,0.014,0.0116,0.0125,0.0122

In [73]:
# Use code from NULL/NaN status function to check percentage of files to be deleted
print(f'     DataFrame Row Count: {df.shape[0]}')
print(f'   no_outliers Row Count: {no_outliers.shape[0]}')
print(f'  DataFrame Percent kept: {round(no_outliers.shape[0] / df.shape[0], 4)}')
print(f'Outliers Percent dropped: {round(1 - (no_outliers.shape[0] / df.shape[0]), 4)}')

     DataFrame Row Count: 2086058
   no_outliers Row Count: 2041634
  DataFrame Percent kept: 0.9787
Outliers Percent dropped: 0.0213

In [63]:
df = no_outliers

In [64]:
df.T

,4,6,7,18,19,20,21,23,24,25,...,2152850,2152851,2152852,2152853,2152855,2152856,2152858,2152859,2152861,2152862
propertylandusetypeid,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
bedroomcnt,4,3,3,3,3,3,4,3,4,3,...,3,3,3,4,3,4,4,4,3,4
bathroomcnt,2.0,4.0,2.0,1.0,2.0,2.0,4.0,2.5,3.5,2.5,...,2.5,3.5,2.0,2.0,2.5,4.0,3.0,4.5,2.5,4.0
calculatedfinishedsquarefeet,3633,1620,2077,1244,1300,1222,4144,1821,2684,2284,...,2033,1980,1917,1987,1809,4375,2262,3127,1974,2110
taxvaluedollarcnt,296425,847770,646760,169471,233266,290492,1303522,537949,644990,934353,...,641757,773358,408680,259913,405547,422400,960756,536061,424353,554009
yearbuilt,2005,2011,1926,1950,1950,1951,2016,2013,2014,2014,...,2015,2014,1946,1955,2012,2015,2015,2014,2015,2014
taxamount,6941.39,10244.94,7924.68,2532.88,3110.99,3870.25,14820.1,6173.72,7572.58,13273.94,...,10009.46,8347.9,4341.32,3175.66,4181.1,13877.56,13494.52,6244.16,5302.7,6761.2
fips,6037,6037,6037,6037,6037,6037,6037,6059,6059,6059,...,6059,6059,6111,6059,6059,6037,6059,6059,6059,6037

In [66]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
propertylandusetypeid,2086058.0,261.000000,0.000000,261.00,261.00,261.00,261.00,261.00
bedroomcnt,2086058.0,3.291885,0.893533,1.00,3.00,3.00,4.00,8.00
bathroomcnt,2086058.0,2.200883,0.889556,0.50,2.00,2.00,3.00,8.00
calculatedfinishedsquarefeet,2086058.0,1810.227657,799.963383,401.00,1257.00,1614.00,2170.00,9978.00
taxvaluedollarcnt,2086058.0,402250.352206,315493.357614,30000.00,188830.00,324451.00,519702.50,2000000.00
yearbuilt,2086058.0,1960.846105,21.795807,1801.00,1949.00,1958.00,1975.00,2016.00
taxamount,2086058.0,4951.648862,3662.682626,16.48,2537.39,4066.98,6245.16,100379.34
fips,2086058.0,6048.396252,20.421661,6037.00,6037.00,6037.00,6059.00,6111.00

In [67]:
df.shape

(2086058, 9)

## Feature Engineer

### Age

In [68]:
# Create a feature to replace yearbuilt that shows the age of the home in 2017 when data was collected
df['age'] = 2017 - df.yearbuilt

### Tax Percentage

In [69]:
# Create a feature to show tax percentage of value
df['taxpercent'] = round((df.taxamount / df.taxvaluedollarcnt), 4)

In [70]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
propertylandusetypeid,2086058.0,261.000000,0.000000,261.00,261.0000,261.0000,261.0000,2.610000e+02
bedroomcnt,2086058.0,3.291885,0.893533,1.00,3.0000,3.0000,4.0000,8.000000e+00
bathroomcnt,2086058.0,2.200883,0.889556,0.50,2.0000,2.0000,3.0000,8.000000e+00
calculatedfinishedsquarefeet,2086058.0,1810.227657,799.963383,401.00,1257.0000,1614.0000,2170.0000,9.978000e+03
taxvaluedollarcnt,2086058.0,402250.352206,315493.357614,30000.00,188830.0000,324451.0000,519702.5000,2.000000e+06
yearbuilt,2086058.0,1960.846105,21.795807,1801.00,1949.0000,1958.0000,1975.0000,2.016000e+03
taxamount,2086058.0,4951.648862,3662.682626,16.48,2537.3900,4066.9800,6245.1600,1.003793e+05
fips,2086058.0,6048.396252,20.421661,6037.00,6037.0000,6037.0000,6059.0000,6.111000e+03
age,2086058.0,56.153895,21.795807,1.00,42.0000,59.0000,68.0000,2.160000e+02
taxpercent,2086058.0,0.013182,0.003867,0.00,0.0118,0.0124,0.0136,4.281000e-01

In [71]:
round(df.taxpercent.describe(), 3)

count    2086058.000
mean           0.013
std            0.004
min            0.000
25%            0.012
50%            0.012
75%            0.014
max            0.428
Name: taxpercent, dtype: float64

In [74]:
del_df = df
del_df = df[df.taxpercent < .0099]
del_df = df[df.taxpercent >= .03]
del_df.T

,1403,1574,1696,1983,2064,2183,2204,2296,2376,2378,...,2148616,2149317,2149566,2150150,2150545,2150726,2150817,2152341,2152731,2152856
propertylandusetypeid,261,261,261,261,261,261,261,261,261,261,...,261,261,261,261,261,261,261,261,261,261
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,...,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
bedroomcnt,3,3,2,3,2,3,3,3,3,3,...,5,4,3,3,3,5,2,3,5,4
bathroomcnt,2.0,1.0,1.0,2.0,1.0,2.0,1.0,3.0,2.0,1.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,5.0,4.0
calculatedfinishedsquarefeet,1710,1123,1313,1208,635,1022,983,1942,1118,1149,...,1912,1782,956,2018,1176,1890,1139,2250,3421,4375
taxvaluedollarcnt,131886,39920,206438,87536,33705,46769,45138,202082,34328,34892,...,74564,95393,38263,75966,54234,73263,78495,485662,243505,422400
yearbuilt,1952,1954,1945,1958,1949,1957,1953,1992,1956,1954,...,1955,1954,1960,1965,1963,1965,1974,2001,2007,2015
taxamount,12797.47,2957.35,6514.88,2908.37,1101.12,1446.81,1426.57,6750.58,1108.1,1103.14,...,3502.61,7709.13,3863.92,9768.14,4797.0,8009.72,2842.92,15783.82,7406.38,13877.56
fips,6037,6037,6037,6037,6037,6037,6037,6037,6037,6037,...,6037,6037,6037,6059,6059,6059,6059,6111,6037,6037
age,65,63,72,59,68,60,64,25,61,63,...,62,63,57,52,54,52,43,16,10,2
taxpercent,0.097,0.0741,0.0316,0.0332,0.0327,0.0309,0.0316,0.0334,0.0323,0.0316,...,0.047,0.0808,0.101,0.1286,0.0885,0.1093,0.0362,0.0325,0.0304,0.0329

In [75]:
print(f'   DataFrame Row Count: {df.shape[0]}')
print(f'      del_df Row Count: {del_df.shape[0]}')
print(f'DataFrame Percent kept: {round(1 - (del_df.shape[0] / df.shape[0]), 4)}')
print(f'del_df Percent dropped: {round(del_df.shape[0] / df.shape[0], 4)}')

   DataFrame Row Count: 2086058
      del_df Row Count: 7872
DataFrame Percent kept: 0.9962
del_df Percent dropped: 0.0038

In [76]:
del_df.describe().T

,count,mean,std,min,25%,50%,75%,max
propertylandusetypeid,7872.0,261.000000,0.000000,261.00,261.0000,261.000,261.0000,2.610000e+02
bedroomcnt,7872.0,3.084223,0.848831,1.00,3.0000,3.000,4.0000,8.000000e+00
bathroomcnt,7872.0,1.821900,0.755810,1.00,1.0000,2.000,2.0000,6.000000e+00
calculatedfinishedsquarefeet,7872.0,1478.066311,592.019141,412.00,1095.7500,1330.000,1704.2500,7.682000e+03
taxvaluedollarcnt,7872.0,135022.428735,130248.499085,30053.00,43441.7500,89708.000,189862.2500,1.930658e+06
yearbuilt,7872.0,1954.283155,20.542248,1880.00,1947.0000,1954.000,1962.0000,2.016000e+03
taxamount,7872.0,5941.700849,5450.340750,908.65,1916.3250,5004.645,8035.3575,1.003793e+05
fips,7872.0,6042.456301,15.707371,6037.00,6037.0000,6037.000,6037.0000,6.111000e+03
age,7872.0,62.716845,20.542248,1.00,55.0000,63.000,70.0000,1.370000e+02
taxpercent,7872.0,0.049435,0.031369,0.03,0.0324,0.037,0.0526,4.281000e-01

### Bed to Bath Ratio

In [ ]:
# Create a feature to show ration of Bathrooms to Bedrooms
df['bed_bath_ratio'] = round((df.bedroomcnt / df.bathroomcnt), 4)

In [ ]:
df.T

In [ ]:
df.isnull().sum()

### fips Conversion
* This is technically a backwards engineered feature
* fips is already an engineered feature of combining county and state into one code
* This exercise was just a rabit hole for exercise and experience

In [ ]:
# Print Unique List of fips values
df.fips.unique()

Google Results for Reference  
* 6037,Los Angeles County,CA  
* 6059,Orange County,CA  
* 6111,Ventura County,CA

In [ ]:
# Found a csv fips master list on github
# import using curl
!curl -O https://raw.githubusercontent.com/kjhealy/fips-codes/master/state_and_county_fips_master.csv

# Check to see if it is there
!ls

In [ ]:
# Read it in as a DataFrame
fips_df = pd.read_csv('state_and_county_fips_master.csv')

In [ ]:
# Look at it
fips_df.head()

In [ ]:
# Display just the fips that exist in our zillow df to ensure they exist
# I could also do this by pulling a list from zillow and using the in function
fips6037 = fips_df[fips_df.fips == 6037]
fips6059 = fips_df[fips_df.fips == 6059]
fips6111 = fips_df[fips_df.fips == 6111]
zillow_fips_df = pd.concat([fips6037, fips6059, fips6111], ignore_index=True)
zillow_fips_df

In [ ]:
# left merge to join the name and state to the original df
left_merged_fips_df = pd.merge(df, fips_df, how="left", on=["fips"])

In [ ]:
# Check that it worked
left_merged_fips_df.T

In [ ]:
# Rewrite the df
df = left_merged_fips_df

In [ ]:
df.info()

In [ ]:
df.describe(include='all').T

In [ ]:
# filter down outliers to more accurately align with realistic expectations of a Single Family Residence
    
# remove homes with no bedrooms or bathrooms
df = df[df.bedroomcnt > 0]
df = df[df.bathroomcnt > 0]

# remove homes with more than 8 bedrooms or bathrooms
df = df[df.bedroomcnt <= 8]
df = df[df.bathroomcnt <= 8]

# remove homes with tax value of less than $50k or more than $2 million
df = df[df.taxvaluedollarcnt > 50000]
df = df[df.taxvaluedollarcnt < 2_000_000]

# remove sqft less than 400 or more than 10,000
df = df[df.calculatedfinishedsquarefeet < 10_000]
df = df[df.calculatedfinishedsquarefeet > 400]

# remove tax percent of less than 1% and more than 100%
df = df[df.taxpercent > .0099]
df = df[df.taxpercent < 0.03]

In [ ]:
df.shape

In [ ]:
# Final df Records / Original df Records
2013640 / 2152863

In [ ]:
df.describe(include='all').T

## Maintain Columns

### Reorder Columns

In [ ]:
# List the columns
df.columns.values

#### Rearange the list manually

'bedroomcnt',  
'bathroomcnt',  
'bed_bath_ratio',  
'calculatedfinishedsquarefeet',  
'yearbuilt',  
'age',  
'taxvaluedollarcnt',  
'taxamount',  
'taxpercent',  
'fips',  
'name',  
'state'

In [ ]:
# Rearange Columns
df = df[['bedroomcnt', 
'bathroomcnt', 
'bed_bath_ratio', 
'calculatedfinishedsquarefeet',
'yearbuilt', 
'age',
'taxvaluedollarcnt', 
'taxamount', 
'taxpercent', 
'fips', 
'name', 
'state']]

In [ ]:
df.head().T

### Rename Columns

### Drop Columns

In [ ]:
# Drop Columns propertylandusetypeid and propertylandusedesc
# The index and discription were only needed to filter and verify
df = df.drop(columns=['propertylandusetypeid', 'propertylandusedesc'])

### 3. Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe with no missing values in your ```wrangle.py``` file. Name your final function ```wrangle_zillow```.

In [ ]:
# reset df to zero to test wrangle function
# delete csv file to fully test all wrangle functions
df = 0

In [ ]:
# use custom wrangle function to automate Acquire and Prepare
df = w.wrangle_zillow()

In [ ]:
# Check our work
df.T

In [ ]:
df.info()

In [ ]:
df.describe().T

### Personal Exploration

In [ ]:
# Custom function that returns nunique for each value in each column
ee.nunique_column_all(df)

In [ ]:
# Built filtered df's to explore curiousity
bathroomcnt_df = df[df['bathroomcnt'] > 18]
yearbuilt_df = df[df['yearbuilt'] < 1900]

In [ ]:
bathroomcnt_df.T

In [ ]:
yearbuilt_df.T

In [ ]:
# look at oldest property just out of curiosity
yearbuilt_df.min()